.row
  .span6
    %h1
      = @collection.name
    %h3
      = @collection.description

.row
  .span6.offset3
    - @collection.tweets.each do |tweet|
      .row
        %blockquote.twitter-tweet
          %a{href: tweet.url}
            = tweet.url


:javascript
  window.twttr = (function (d, s, id) {
    var t, js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src= "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);
    return window.twttr || (t = { _e: [], ready: function (f) { t._e.push(f) } });
  }(document, "script", "twitter-wjs"));
