table, form {
  margin-bottom: 0;
}

h6 {
  font-weight: normal;
}

footer {
  margin-top: 17px;
}

.container > footer p {
  text-align: center; /* center align it with the container */
}

@media (min-width: 980px) {
  .row {
    margin-top: 18px;
  }

  .alert {
    -webkit-border-top-left-radius: 0;
        -moz-border-radius-topleft: 0;
            border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
        -moz-border-radius-topright: 0;
            border-top-right-radius: 0;
  }
}

@media (min-width: 1200px) {

  .row {
    margin-top: 18px;
  }

  .alert {
    -webkit-border-top-left-radius: 0;
        -moz-border-radius-topleft: 0;
            border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
        -moz-border-radius-topright: 0;
            border-top-right-radius: 0;
  }
}
